.tournament-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section-title {
    font-weight: normal;
    text-align: left;
}

.strats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.strat {
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.strat select {
    margin-right: 5px;
}

.settings {
    display: grid;
    grid-template-columns: 20% 20%;
}

.settings-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.settings-input {
    margin-top: auto;
    margin-bottom: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}